<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>data</servlet-name>
        <servlet-class>GetDataTable</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>data</servlet-name>
        <url-pattern>/data</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>data1</servlet-name>
        <servlet-class>GetDataTable1</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>data1</servlet-name>
        <url-pattern>/data1</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>data2</servlet-name>
        <servlet-class>GetDataTable2</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>data2</servlet-name>
        <url-pattern>/data2</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>data3</servlet-name>
        <servlet-class>GetDataTable3</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>data3</servlet-name>
        <url-pattern>/data3</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>data4</servlet-name>
        <servlet-class>GetDataTable4</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>data4</servlet-name>
        <url-pattern>/data4</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>
